<i
    class="fa-solid fa-circle-question position-absolute end-0 px-3 info-button"
    data-bs-toggle="modal"
    data-bs-target="#myModal"
></i>

<!-- Instructions Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Sudoku Rules</h4>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                ></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body text-start">
                <h5><span class="badge bg-success">Rule No. 1</span> Use Numbers 1-9</h5>
                <p>
                    Sudoku is played on a grid of 9 x 9 space. Within the rows and columns 
                    are 9 "squares" (made up of 3 x 3 spaces). Each row, column, and square 
                    (9 spaces each) needs to be filled out with the number 1-9, without repeating 
                    any numbers within the row, column, or space. Not to worry, each Sudoku board 
                    comes with a few spaces already filled in; the more spaced are filled in, the 
                    easier the game - the more difficult Sudoku puzzles have very few spaces that 
                    are already filled in.
                </p>
                <hr class="paraSolid" />
                <h5><span class="badge bg-success">Rule No. 2</span> Don't Repeat Any Numbers</h5>
                <div class="text-center">
                    <img src="{{url_for('static', filename='sudokuRules.jpg')}}" class="rounded" alt=""/>
                </div>
                <p>
                    As shown in the above board, the upper left square (circled in blue), already 
                    has 7 out of the 9 spaces filled in. The only numbers missing from the square are 
                    5 and 6. By seeing which numbers are missing from each square, row, or column, we 
                    can use process of elimination and deductive reasoning to decide which numbers need 
                    to go in each blank space.</p>
                </p>
                <hr class="paraSolid" />
                <h5><span class="badge bg-success">Rule No. 3</span> Don't Guess</h5>
                <p>
                    Sudoku is a game of logic and reasoning, so you shouldn't have to guess. If you 
                    don't know what number to put in a certain space, keep scanning the other areas 
                    of the grid until you see an opportunity to place a number. But don't try to "force" 
                    anything - Sudoku rewards patience, insights, and recognition of patterns, not blind 
                    luck or guessing.</p>
                </p>
                <hr class="paraSolid" />
                <h5><span class="badge bg-success">Rule No. 4</span> Use Process of Elimination</h5>
                <p>
                    One way to figure ou which numbers can go in  each space is to use "process of elimination" 
                    by checking to see which other numbers are already included within each square - since there 
                    can be no duplication of numbers 1-9 within each square (or row or column).
                </p>
                <hr class="paraSolid" />
                <p>
                    All information used was taken from 
                    <a href="https://sudoku.com/how-to-play/sudoku-rules-for-complete-beginners/">
                        Sudoku.com
                    </a>. 
                </p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
