<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SudoCrew: Game</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <section class="py-5 text-center container">
      <div class="row py-lg-4 bg-white">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Under Construction</h1>
          <p class="lead text-muted">This page is currently under construction, it will be completed and ready in time for the final demo. Stay tuned for this exciting content!</p>
        </div>
      </div>
    </section>
      
    {% endblock %}
  </body>
</html>