<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SudoCrew: Home</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/home.css') }}">
  </head>
  <body> -->
    {% extends "template.html" %}
    {% block content %}

    <section class="py-5 text-center container">
      <div class="row py-lg-4">
        <div class="splash-container">
          <div class="fw-light text-white text-start splash-title">Sudoku Suite</div>
          <img class="splash-img " src="{{ url_for('static',    filename='img/splash.png') }}"/>

        </div>
      </div>
    </section>
    
    {% endblock %}
  <!-- </body>
</html> -->