<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <div class="container-lg">
        <div class="text-center">
            <h2 class="pt-3">Sudoku Instructions</h2>
            <p class="lead">If you are new to Sudoku and want to play...</p>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="list-group">
                    <div class="list-group-item py-3">
                        <h4 class="mb-1">Rule No. 1: Use Number 1-9</h4>
                        <p class="mb-1">Sudoku is played on a grid of 9 x 9 space. Within the rows and columns are 9 "squares" (made up of 3 x 3 spaces). Each row, column, and square (9 spaces each) needs to be filled out with the number 1-9, without repeating any numbers within the row, column, or space. Not to worry, each Sudoku board comes with a few spaces already filled in; the more spaced are filled in, the easer the game - the more difficult Sudoku puzzles have very few spaces that are already filled in.</p>
                    </div>
                    <div class="list-group-item py-3">
                        <h4 class="mb-1">Rule No. 2: Don't Repeat Any Numbers</h4>
                        <h6 class="my-1">INSERT IMAGE HERE</h6>
                        <p class="mb-1">As shown in the above board, the upper left square (circled in blue), already has 7 out of the 9 spaces filled in. The only numbers missing from the square are 5 and 6. By seeing which numbers are missing from each square, row, or column, we can use process of elimination and deductive reasoning to decide which numbers need to go in each blank space.</p>
                    </div>
                    <div class="list-group-item py-3">
                        <h4 class="mb-1">Rule No. 3: Don't Guess</h4>
                        <p class="mb-1">Sudoku is a game of logic and reasoning, so you shouldn't have to guess. If you don't know what number to put in a certain space, keep scanning the other areas of the grid until you see an opportunity to place a number. But don't try to "force" anything - Sudoku rewards patience, insights, and recognition of patterns, not blind luck or guessing.</p>
                    </div>
                    <div class="list-group-item py-3">
                        <h4 class="mb-1">Rule No. 4: Use Process of Elimination</h5>
                        <p class="mb-1">One way to figure ou which numbers can go in  each space is to use "process of elimination" by checking to see which other numbers are already included within each square - since there can be no duplication of numbers 1-9 within each square (or row or column).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% endblock %}
  </body>
</html>