<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SudoCrew:Manually</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <div class="main-container">
      {% include "manual/manual-info.html" %}

      <div class="board-container">
        <div class="board-card">
          {% include "manual/manual-box.html" %}
        </div>
        
        {% if action == 'solve' %}
          <div class="board-card">
            {% include "solution/solution-table.html" %}
          </div>
      {% endif %}
      </div>

      {% include "manual/manual-error.html" %}
    </div>
      
    {% endblock %}
  </body>
</html>