<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SudoCrew:Manually</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <div class="main-container p-3 m-3">
      <div class="board-container">
        <div class="board-card" >
          <div id="input-board" class="board-body shadow"></div>
        </div>
      </div>
      <!-- form for submitting to solver -->
      <form id="solveForm" action="solver2" method="POST" onsubmit="parseTable()" enctype="multipart/form-data">
        <input type="hidden" id="tableJSON" value="" name="tableJSON">
        <button type="submit" class="btn btn-success solve-button">Solve</button>
      </form>
    </div>

    <script>
      var board = [[0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0],
                   [0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0],
                   [0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0]];

      function showErrorModal() {
          let myModal = new bootstrap.Modal(document.getElementById('FailureModal'));
          myModal.show()
      }
      
      function generateSudokuBoard(board) {
        let board_container = document.getElementById('input-board');
        let tableHTML = ''
        for(let row = 0; row < 9; row++) {
          tableHTML += '<div class="su-row">';
          let className = 'su-cell'
          if (row > 0 && row % 3 == 0) className +=' su-top'
          for(let col = 0; col < 9; col++) {
              let colClass = ''
              let id = row * 9 + col;
              if (col > 0 && col % 3 == 0) colClass = ' su-left'

              let inputValue = board[row][col] > 0 ? board[row][col] : "";
              let cellContent = `
                            <div class="${className + colClass}"> 
                              <input type="number" class="form-control su-input" id="su-input-${id}" onchange="updateBoard(${id})" name="fname" value = "${inputValue}" onKeyPress="if(this.value.length==1) return false;" min="1"> 
                            </div>`;
              tableHTML += cellContent;
          }
          tableHTML += '</div>';
        }
        board_container.innerHTML = tableHTML;
      }

      function updateBoard(id) {
        // updates the changes in an input box to the board array
        let inputbox = document.getElementById("su-input-" + String(id))
        let col = id % 9;
        let row = Math.floor(id / 9);
        //TODO: add error checking here
        //TODO: SOME SORT OF ERROR HERE THAT I CANT FIND D:
        board[row][col] = inputbox.value == "" ? 0 : parseInt(inputbox.value)
      }

      function parseTable() {
        let boardJSON = JSON.stringify(board);
        document.getElementById('tableJSON').value = boardJSON;
      }

      generateSudokuBoard(board);
    </script>
      
    {% endblock %}
  </body>
</html>