<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sudoku Suite</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <div class="main-container">

      <!-- stopwatch -->
      <div class="timer-container m-3 text-center">
        <span id="timer">00 : 00 : 00</span>
      </div> 
      

        <div id="liveToast" class="toast hide text-danger error-toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-body">
            <span id="errorMessage">error</span>
          </div>
        </div>

      <div class="board-container">
        <div class="board-card" >
          <div id="input-board" class="board-body shadow round-all-corners"></div>
        </div>
      </div>
        <!-- submitting solution -->
        <form id="submitForm" action="" method="POST" onsubmit="return parseTable(true);" enctype="multipart/form-data">
          <input type="hidden" value="submit" name="action">
          <input type="hidden" id="time" value="" name="time">
          <input type="hidden" id="tableJSON" value="" name="tableJSON">
          <button type="submit" class="btn btn-success solve-button">Submit</button>
        </form>

        <!-- giving up -->
        <form id="solveForm" action="" method="POST" onsubmit="return parseTable(false);" enctype="multipart/form-data">
          <input type="hidden" value="solve" name="action">
          <input type="hidden" id="tableJSON2" value="" name="tableJSON2">
          <button type="submit" class="btn btn-secondary solve-button">See Solution</button>
        </form>

        <i title="print" class="fa-solid fa-print print-button" onclick="print()"></i>
    </div>

    <script>
      window.onload = function () {
  
        var elapsed_ten_ms = 0
        var timerElement = document.getElementById("timer")
        var Interval ;
    
        clearInterval(Interval);
        Interval = setInterval(playTimer, 10); 
  
        function playTimer () {
          elapsed_ten_ms++; 
          let minutes = String(Math.floor(elapsed_ten_ms / 6000));
          let seconds = String(Math.floor(elapsed_ten_ms / 100) % 60).padStart(2, '0');
          let ten_ms = String(elapsed_ten_ms % 100).padStart(2, '0');
          timerElement.innerHTML = `${minutes > 0 ? minutes + " : " : ""}${seconds} : ${ten_ms}`
        }
      }

      var original = {{ gameBoard }}
      var board = {{ gameBoard }}
      var given = {{ indices }}

      function validateInput(keyCode)
      {
        if (keyCode > 57 || keyCode < 49) {
            event.preventDefault();
            return false;
        }
      }

      function showErrorToast(msg) {
          document.getElementById('errorMessage').innerHTML = msg;
          toastElement = document.getElementById('liveToast');
          let errorToast = new bootstrap.Toast(toastElement)
          errorToast.show()
          toastElement.scrollIntoView({behavior: 'smooth'});
      }
      
      function generateSudokuBoard(board) {
        let board_container = document.getElementById('input-board');
        let tableHTML = ''
        for(let row = 0; row < 9; row++) {
          tableHTML += '<div class="su-row">';
          let className = 'su-cell'
          if (row > 0 && row % 3 == 0) className +=' su-top'
          for(let col = 0; col < 9; col++) {
              let colClass = ''
              let id = row * 9 + col;
              if (col > 0 && col % 3 == 0) colClass = ' su-left'

              let inputValue = board[row][col] > 0 ? board[row][col] : "";
              if (inputValue == "") {
                let cellContent = `
                            <div class="${className + colClass}"> 
                              <input type="text" class="form-control su-input" id="su-input-${id}" onchange="updateBoard(${id})" name="fname" value = "${inputValue}" onKeyPress="validateInput(event.keyCode)" maxlength="1"> 
                            </div>`;
                tableHTML += cellContent;
              }
              else {
                let cellContent = `
                            <div class="${className + colClass}"> 
                              <input type="number" class="form-control su-input" id="su-input-${id}" onchange="updateBoard(${id})" name="fname" value = "${inputValue}" onKeyPress="if(this.value.length==1) return false;" min="1" disabled> 
                            </div>`;
                tableHTML += cellContent;
              }
              
          }
          tableHTML += '</div>';
        }
        board_container.innerHTML = tableHTML;
      }

      function updateBoard(id) {
        // updates the changes in an input box to the board array
        let inputbox = document.getElementById("su-input-" + String(id))
        let col = id % 9;
        let row = Math.floor(id / 9);
        //TODO: add error checking here
        //TODO: SOME SORT OF ERROR HERE THAT I CANT FIND D:
        board[row][col] = inputbox.value == "" ? 0 : parseInt(inputbox.value)
      }

      function parseTable(complete) {
        if(complete) {
          for (let i = 0; i < 81; i++) updateBoard(i);
          // check for incompletion
          for(let row = 0; row < 9; row++) {
            for(let col = 0; col < 9; col++) {
              if(board[row][col] === 0){
                let id = row * 9 + col;
                let errorCell = document.getElementById('su-input-' + id);
                showErrorToast("Please fill in all the blanks!");
                errorCell.classList.add("input-error");
              
                setTimeout(function(){
                  errorCell.classList.remove("input-error");
                }, 3000);

              }
            }
          }

          if(findInvalidCoordinates()) {
            showErrorToast("The Sudoku board is invalid. Please fix any errors before submitting!");
            return false;
          }

          let boardJSON = JSON.stringify(board);
          document.getElementById('tableJSON').value = boardJSON;
          document.getElementById('time').value = document.getElementById("timer").innerHTML;
          return true;
        } else {
          let boardJSON = JSON.stringify(original);
          document.getElementById('tableJSON2').value = boardJSON;
          return true;
        }
        
      }

      function findInvalidCoordinates() {
        let foundInvalidCoordinate = false;
        for(let row = 0; row < 9; row++) {
           for(let col = 0; col < 9; col++) {
              var invalid = false;
              const num = board[row][col];

              for(let i = 0; i < 9; i++) {
                if(num == board[row][i] && col != i) {
                  const id = row * 9 + col;
                  const errorCell = document.getElementById('su-input-' + id);
                  if(!errorCell.disabled) {
                    errorCell.classList.add("input-error");
                  }
                  foundInvalidCoordinate = true;
                  invalid = true;
                }

                if(num == board[i][col] && row != i) {
                  const id = row * 9 + col;
                  const errorCell = document.getElementById('su-input-' + id);
                  if(!errorCell.disabled) {
                    errorCell.classList.add("input-error");
                  }
                  foundInvalidCoordinate = true;
                  invalid = true;
                }
              }

              const boxX = Math.floor(col/3);
              const boxY = Math.floor(row/3);

              for(let i = boxY * 3; i < boxY * 3 + 3; i++) {
                for(let j = boxX * 3; j < boxX * 3 + 3; j++) {
                  if(board[i][j] == num && !(i == row && j == col)) {
                    const id = row * 9 + col;
                    const errorCell = document.getElementById('su-input-' + id);
                    if(!errorCell.disabled) {
                      errorCell.classList.add("input-error");
                    }
                    foundInvalidCoordinate = true;
                    invalid = true;
                  }
                }
              }
              if(!invalid) {
                const id = row * 9 + col;
                const cell = document.getElementById('su-input-' + id);
                cell.classList.remove("input-error");
              }
          }
        }
        return foundInvalidCoordinate;
      }

      generateSudokuBoard(board);
    </script>
      
    {% endblock %}
  </body>
</html>