<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SudoCrew:Upload</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <div class="main-container">
      <!-- image upload container -->
      <div class="p-3 upload-container shadow">
        <form id="imageForm" action="recognize" method="POST" enctype="multipart/form-data">
            <label for="formFile" class="form-label text-light h6">Upload New Sudoku Board</label>
            <input class="form-control" type="file" id="formFile" name="formFile" accept="image/png, image/jpeg" onchange="preview()" required>
        </form>
      </div>

      <!-- image confirmation modal -->
      <div class="modal fade" id = "imageModal" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content shadow">
            <div class="modal-header">
              <h5 class="modal-title">Image Upload Confirmation</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="clearImage()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img id="frame" src="" class="img-fluid" alt="" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="clearImage()">Cancel</button>
              <button type="submit" data-bs-target="#uploadingModel" data-bs-toggle="modal" data-bs-dismiss="modal" class="btn btn-success" form="imageForm">Submit</button>
            </div>
          </div>
        </div>
      </div>

      <!-- loading screen modal -->
      <div class="modal fade" id = "uploadingModel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-sm">
          <div class="modal-content shadow">
            <div class="modal-body text-center">
              <p>Processing your uploaded image</p>
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="board-container">
      <div class="board-card" >
        <div id="input-image" class="board-body shadow">
          <img id="recognizedImage" src="" class="img-fluid" alt="" />
        </div>
        <div class="board-footer shadow">
          Extracted Sudoku Board
        </div>
      </div>

      <div class="board-card" >
        <div id="input-board" class="board-body shadow"></div>
        <div class="board-footer shadow">
          Recognized Digits
        </div>
      </div>
    </div>

    <!-- form for submitting to solver -->
    <form id="solveForm" action="solver" method="POST" onsubmit="parseTable()" enctype="multipart/form-data">
      <input type="hidden" id="tableJSON" value="" name="tableJSON">
      <button type="submit" class="btn btn-success solve-button">Solve</button>
    </form>
    </div>

    <script>
      var board = {{ inputBoard }};
      var confidence = {{ inputConfidence }};
      var image = '{{ inputImage}}';

      const LOW_CONFIDENCE = 0.75;
      const MID_CONFIDENCE = 0.85;

      function preview() {
          frame.src = URL.createObjectURL(event.target.files[0]);
          var myModal = new bootstrap.Modal(document.getElementById('imageModal'));
          myModal.show()
      }
      function clearImage() {
          document.getElementById('formFile').value = null;
          frame.src = '';
      }
      function populateSudokuBoard(board) {
        let board_container = document.getElementById('input-board');
        let tableHTML = ''
        for(let row = 0; row < 9; row++) {
          tableHTML += '<div class="su-row">';
          let className = 'su-cell'
          if (row > 0 && row % 3 == 0) className +=' su-top'
          for(let col = 0; col < 9; col++) {
              let colClass = ''
              let confidenceClass = 'high-confidence'
              let id = row * 9 + col;
              if (col > 0 && col % 3 == 0) colClass = ' su-left'
              if (confidence[row][col] < LOW_CONFIDENCE) confidenceClass = 'low-confidence'
              else if (confidence[row][col] < MID_CONFIDENCE) confidenceClass = 'mid-confidence'

              let inputValue = board[row][col] > 0 ? board[row][col] : "";
              let cellContent = `
                            <div class="${className + colClass}"> 
                              <input type="text" class="form-control su-input ${confidenceClass} outline-2" onchange="updateBoard(${id})" id="su-input-${id}" name="fname" value = "${inputValue}"> 
                            </div>`;
              tableHTML += cellContent;
          }
          tableHTML += '</div>';
        }
        board_container.innerHTML = tableHTML;
      }

      function displayRecognizedImage() {
        recognizedImage.src="data:image/png;base64," + image;
      }

      function updateBoard(id) {
        // updates the changes in an input box to the board array
        let inputbox = document.getElementById("su-input-" + String(id))
        let col = id % 9;
        let row = Math.floor(id / 9);
        //TODO: add error checking here
        //TODO: SOME SORT OF ERROR HERE THAT I CANT FIND D:
        board[row][col] = inputbox.value == "" ? 0 : parseInt(inputbox.value)
      }

      function parseTable() {
        let boardJSON = JSON.stringify(board);
        document.getElementById('tableJSON').value = boardJSON;
      }

      populateSudokuBoard(board);
      displayRecognizedImage();
    </script>
      
    {% endblock %}
  </body>
</html>