<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Sudoku Suite - Upload</title>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}

  <div class="main-container">
    {% include "upload/upload-box.html" %}

    {% include "upload/upload-loadscreen.html" %}

    {% include "upload/upload-error.html" %}

    {% if action == 'recognize' %}
      {% include "upload/upload-recogboards.html" %}
    {% elif action == 'solve' %}
      {% include "solution/solution-table.html" %}
    {% endif %}
  </div>

  {% endblock %}
</body>

</html>