<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SudoCrew:Upload</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <section class="py-5 text-center container">
      <div class="row py-lg-4 bg-white">
        <div class="col-lg-6 col-md-8 mx-auto">
          <form action="submit.html" method="POST" enctype="multipart/form-data">
            <div class="pt-3">
              <label for="Image" class="form-label h2">Upload Sudoku Board</label>
              <p class="text-center">Please upload a clear image of your sudoku board. Our program will then solve the Sudoku board and showcase it to you as an image. If you notice any issues regarding the solution, feel free to contact us using our contact form below!</p>
              <input class="form-control" type="file" id="formFile" name="formFile" accept="image/png, image/jpeg" onchange="preview()" required>
              <input type="submit" value="Submit" class="btn btn-primary my-3">
            </div>
            <img id="frame" src="" class="img-fluid" alt="" />
    </section>
    <div class="pt-3">
      <table id="sudoku-board" class="table">

      </table>
    </div>

    <script>
      var output = {{ solvedBoard }}
      function preview() {
          frame.src = URL.createObjectURL(event.target.files[0]);
      }
      function clearImage() {
          document.getElementById('formFile').value = null;
          frame.src = "";
      }
      function populateSudokuBoard(board) {
        var table = document.getElementById('sudoku-board');
        var tbody = document.createElement('tbody');
        table.append(tbody);
        for(let row = 0; row < 3; row++) {
          var tr = document.createElement('tr');
          tbody.append(tr);
          for(let column = 0; column < 3; column++) {
            var td = document.createElement('td');
            var innerTable = document.createElement('table');
            var innerBody = document.createElement('tbody');
            td.append(innerTable);
            tr.append(td);
            innerTable.append(innerBody);
            for(let iRow = 0; iRow < 3; iRow++) {
              var innerRow = document.createElement('tr');
              innerBody.append(innerRow);
              for(let iColumn = 0; iColumn < 3; iColumn++) {
                var innerColumn = document.createElement('td');
                var input = document.createElement('input');
                const rowIndex = (row * 3) + iRow;
                const columnIndex = (column * 3) + iColumn;
                const value = board[rowIndex][columnIndex];
                input.value = value > 0 ? value : "";
                innerColumn.append(input);
                innerRow.append(innerColumn);
              }
            }
          }
        }
      }
      populateSudokuBoard(output);
    </script>
      
    {% endblock %}
  </body>
</html>