<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SudoCrew:Upload</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <section class="py-5 text-center container">
      <div class="row py-lg-4 bg-white">
        <div class="col-lg-6 col-md-8 mx-auto">
          <form action="submit.html" method="POST" enctype="multipart/form-data">
            <div class="pt-3">
              <label for="Image" class="form-label h2">Upload Sudoku Board</label>
              <p class="text-center">Please upload a clear image of your sudoku board. Our program will then solve the Sudoku board and showcase it to you as an image. If you notice any issues regarding the solution, feel free to contact us using our contact form below!</p>
              <input class="form-control" type="file" id="formFile" name="formFile" accept="image/png" onchange="preview()" required>
              <input type="submit" value="Submit" class="btn btn-primary my-3">
            </div>
            <img id="frame" src="" class="img-fluid" alt="" />
          </form>
        </div>
      </div>
    </section>

    <script>
      function preview() {
          frame.src = URL.createObjectURL(event.target.files[0]);
      }
      function clearImage() {
          document.getElementById('formFile').value = null;
          frame.src = "";
      }
    </script>
      
    {% endblock %}
  </body>
</html>