body {
  font-family: 'Montserrat', sans-serif;
  /* background: #D3CCE3; */
  background-color: #363333;
  /* background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
  background: linear-gradient(to right, #E9E4F0, #D3CCE3); */
}

.upload-container {
  position: relative;
  margin: auto;
  background-color: #272121;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  margin: 2rem auto;
  text-align: left;
}


.main-container {
  text-align: center;
  padding: 1em 1em 6em;
  margin: 1em;
}

.main-play {
  width: 90%;
  max-width: 600px;
}

.difficulty-container {
  position: relative;
  top: 3rem;
  width: 100%;
}
  
.logo {
  padding: 10px;
}

.navbar-brand {
  font-family: 'Sue Ellen Francisco', cursive;
  font-weight: bold;
  padding: 0;
  font-size: 1.5rem;
  /* text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue; */
}

.custom-nav-gradient {
  background-image: linear-gradient(to top, #464646 0%, #333 100%);
}

.custom-body-gradient {
  background: #D3CCE3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.rounded-logo {
  border-radius: 20%;
}

.board-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.board-card {
  margin: 0rem 1.5rem 3rem;
}

.board-body {
  background: #E16428;
  padding: 20px;
  width: 500px;

  height: 500px;
  min-height: 500px;
  border-radius: 10px 10px 0 0;
}

.board-footer {
  background-color: darkslategray;
  border-radius: 0 0 10px 10px;
  padding: 6px 12px;
  color: #DDD;
  text-align: left;
  font-size: large;
}



.su-row {
  justify-content: center;
  margin: 0;
  padding: 0;
  display: flex;
}

.su-cell {
  padding: 4px 2px 2px 4px;
  margin: 2px
}

.su-top {
  border-top: 4px dotted rgba(0,0,0,0.5);
}
.su-left {
  border-left: 4px dotted rgba(0,0,0,0.5);
}

.su-input {
  height: 2.5rem;
  width: 2.5rem;
  margin: auto;
  padding: 0;
  text-align: center;
  font-size: 1.8rem;
  background-color: rgba(0,0,0,0.125);
  border-color: rgba(0,0,0,0.125);
  color: white;
}

.su-input:hover {
  font-size: 2rem;
  /* background-color: rgba(0,0,0,0.2); */
  border-color: rgba(255,255,255,0.3);
}

.su-input-new {
  color: greenyellow;
}

.footer {
  position: fixed;
  bottom: 0px;
  right: 5px;
  /* width: 100%; */
  pointer-events: none;
}

.input-error {
  outline-width: 3px;
  outline-style: solid;
  outline-color: rgba(255,0,0,0.4);;
}

.low-confidence {
  outline-color: rgba(255,0,0,0.4);;
}

.mid-confidence {
  outline-color: rgba(255,200,0,0.4);;
}

.high-confidence {
  outline-color: rgba(0,0,0,0);
}

.outline-2 {
  outline-width: 3px;
  outline-style: solid;
}

.solve-button {
  width: 100%;
  max-width: 500px;
  height: 40px;
  font-size: large;
  margin-bottom: 2rem;
}

.solve-button:hover {
  box-shadow: 1px 1px 2px red, 0 0 1.2em green, 0 0 0.2em blue;
  background-color: #11EE11;
}

.modal-content {
  background-color: #464646;
  color: white;
}

.celebration-modal {
  margin: auto;
  width: 60%;

  background-color: rgba(50, 50, 50, 0.8);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.8);
}

.celebration-modal h5 {
  color: #eeea11;
}

.celebration-img {
  filter: drop-shadow(0px 0px 10px rgb(255, 0, 255));
}

.modal-header, .modal-footer {
  border-color: #333;
}

input[type="number"]:disabled {
  background: #E16428;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.timer-container {
  font-family: 'Inconsolata', monospace;
  font-size: 1.5em;
  width: 100%;
  max-width: 500px;
  color: white;
  margin: 0 auto 10px;
}
  
  #seconds, #tens {
    font-size:2em;
}

.splash-container {
  position: relative;
  width: 80%;
  margin: auto;
  max-width: 500px;
}

.print-button {
  color: #AAA;
  font-size: 1.5rem;
}

.print-button:hover {
  color: white;
}

.splash-img {
  width: 100%;
  transform: rotate(5deg);
  filter: drop-shadow(10px 10px 10px #222);

}

.home-buttons {
  color: #AAA;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.2);
  width: 100%;
  text-align: center;
}

.home-buttons:hover {
  color:rgb(255, 193, 7);
}

.home-container {
  max-width: 800px;
}

.splash-title {
  position: absolute;
  top: -20px;
  right: 5%;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 3em;
  z-index: 5;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.error-toast {
  margin: 1rem auto;
}

.round-all-corners {
  border-radius: 10px;
}

#difficultyDisplay {
  font-weight: bold;
}

.Easy {
  color: #198754;
}

.Medium {
  color: rgb(255, 193, 7);
}

.Hard {
  color: #dc3545
}

@media only screen and (max-width: 600px) {

  .upload-container {
    margin: 1.5rem auto;
  }

  .timer-container {
    font-size: medium;
  }

  .board-body {
    padding: 15px;
    width:100%;

    height: auto;
    min-height: auto;
    border-radius: 10px 10px 0 0;
  }

  .home-buttons {
    font-size: 14px;
  }

  .su-input {
    position: absolute;
    z-index: 1;
    top: 2px;
    right: 2px;
    bottom: 0px;
    left: 2px;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1.4em;
  }

  .su-input:hover {
    font-size: 1.6em;
  }

  .su-cell {
    position: relative;
    width: 100%;
  }

  .su-cell::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .board-card {
    width: 100%;
    margin: 0 0 1.5rem;
  }

  .round-all-corners {
    border-radius: 10px;
  }
}


@media only screen and (max-width: 320px) {
  .main-container {
    padding: 0.5em 0.5em 6em;
    margin: 0.5em;
  }

  .su-input {
    font-size: 1.2em;
  }

  .su-input:hover {
    font-size: 1.4em;
  }
}

.frame-container {
  margin: auto;
  width: fit-content;
  position: relative;
}

.separator {
  color: #DDD;
  margin: auto;
  width: 85%;
  max-width: 500px;
}

.section-title {
  margin-bottom: 2rem;
}

.section-title:before, .section-title:after {
  content: "";
  display: inline-block;
  width: 100%;
  max-width: 45%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid;
}

.section-title:after {
  margin: 0 -55% 0 .5em;
}

#canvas{
  position: absolute;
  left:0;
  top:0;
  border:1px solid black;
  z-index: 999;
}

.info-button {
  color: #198754
}

.info-button:hover {
  color: white;
}

p {
  color: white;
}

.paraSolid {
  border-top: 3px solid #FFF;
}

.instruct {
  color: #000;
}