<i
    class="fa-solid fa-circle-question position-absolute end-0 px-3 info-button"
    data-bs-toggle="modal"
    data-bs-target="#myModal"
></i>

<!-- Instructions Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Upload Instructions</h4>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                ></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body text-start">
                <h5>Step 1: Image Upload</h5>
                Click on the 'Choose file' button to select an image from your
                local storage or camera. The image must be at least 200 x 200
                pixels. <br />
                <br />
                For best results, ensure that the uploaded picture has adequate
                brightness / contrast, and features the Sudoku board as
                prominently as possible.
                <hr class="paraSolid" />
                <h5>Step 2: Preview</h5>
                A preview of the image will be displayed. Please ensure the
                clarity and orientation of the image, and then click 'Submit' to
                upload.
                <hr class="paraSolid" />
                <h5>Step 3: Verification</h5>
                Once the submitted image has been processed, the extracted
                sudoku board and its recognized digits will be displayed. You
                can make any necessary edits to the cells of the board if there
                exist any discrepencies on the processed board. Press the
                'Solve' button to submit the puzzle for automatic solving.
                <hr class="paraSolid" />
                <h5>Step 4: Solution</h5>
                Voila! You can now view the solution, or if one is not
                available, click 'Back' to double check the puzzle to ensure
                that the puzzle is solvable.
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
