<i
    class="fa-solid fa-circle-question position-absolute end-0 px-3 info-button"
    data-bs-toggle="modal"
    data-bs-target="#uploadModal"
></i>

<!-- Instructions Modal -->
<div class="modal fade" id="uploadModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Upload Instructions</h4>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                ></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body text-start">
                <h5><span class="badge bg-success">Step 1</span> Image Upload</h5>
                <p>
                    Click on the 'Choose file' button to select an image from
                    your local storage or camera. The image must be at least 200
                    x 200 pixels.
                </p>
                <p>
                    For best results, ensure that the uploaded picture has
                    adequate brightness / contrast, and features the Sudoku
                    board as prominently as possible.
                </p>
                <hr class="paraSolid" />
                <h5><span class="badge bg-success">Step 2</span> Preview</h5>
                <p>
                    A preview of the image will be displayed. Please ensure the
                    clarity and orientation of the image, and then click
                    'Submit' to upload.
                </p>
                <hr class="paraSolid" />
                <h5><span class="badge bg-success">Step 3</span> Verification</h5>
                <p>
                    You can make any necessary edits to the cells of the board
                    if there exist any discrepencies on the processed board.
                </p>
                <p>
                    Press the 'Solve' button to submit the puzzle for automatic
                    solving.
                </p>
                <hr class="paraSolid" />
                <h5><span class="badge bg-success">Step 4</span> Solution</h5>
                <p>Voila! You can now view the solution.</p>
                <p>
                    If a solution is not available, click 'Back' to double check
                    the puzzle to ensure that the puzzle is solvable.
                </p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
